<table style="width : 1200px; background-color : rgb(87,197,139); color : white; box-shadow: 3px 3px 3px rgb(18,39.47);">
    <tr>
        <td style="width : 25%; text-align : left">@JBCNConf</td>
        <td style="width : 50%; text-align : center">JBCNConf 2017</td>
        <td style="width : 25%; text-align : right">© Schalk W. Cronjé</td>
    </tr>
</table>